* {
  box-sizing: border-box;
}

nav {
	height: 100px;
	line-height: 100px;

	text-transform: uppercase;
}

	nav .brand-logo img {
		height: 94px;
	}

	nav .nav-wrapper {
		margin: 0 10% 0 10%;
	}

	nav ul li {
		position: relative;
	}

		nav ul li.active, nav ul a:hover {
			background-color: transparent;
		}

		nav ul li a {
			font-size: 18px;
		}

		nav ul li .colorbar {
			position: absolute;
			left: 50%; top: 66px;

			width: 0; height: 3px;
			opacity: 0;

			background-color: #2e7d32 ;

			transition: width 0.5s, left 0.5s, opacity 0.3s;
		}

			nav ul li:hover .colorbar, nav ul li.active .colorbar {
				width: 50%;
				left: 25%;
				opacity: 1;
			}

header {
	height: 600px;
	overflow: hidden;
	background: url('../img/cybersecurity.jpg');
	background-position: bottom;
	position: relative;
}

	header #grey-mask {
		position: absolute;
		height: 100%; width: 100%;
		z-index: 1;

		background-color: rgba(0, 0, 0, 0.5);
	}

	header .main-title {
		width: 100%;
		color: white;
		text-decoration: underline;
		opacity: 1;
		z-index: 2;

		transition: opacity 3s;
	}

	header .main-title.charged {
		opacity: 1;
	}

main {

}

	main .premier-paragraphe {
		width: 50%;
	}

footer {
	padding: 0 15%;
}