@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
  box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.footer-copyright {
	margin: 0 -15%;
	min-width: 100%;
	text-align: center;
	line-height: normal !important;
	margin-top: 10px;
}


nav {
	height: 100px;
	line-height: 100px;

	text-transform: uppercase;
}

	nav .button-collapse {
		height: 100px !important;
	}

	nav .button-collapse i {
		height: 100px !important;
		line-height: 100px !important;
		font-size: 3.5rem !important;
	}

	nav .brand-logo {
		height: 100px;
	}
	
		nav .brand-logo img {
			height: 80px;
			margin: 10px 0;
		}

	nav .nav-wrapper {
		margin: 0 10% 0 10%;
	}

	nav ul:not(.side-nav) li {
		position: relative;
	}

		nav ul:not(.side-nav) li.active, nav ul:not(.side-nav) a:hover {
			background-color: transparent;
		}

		nav ul:not(.side-nav) li a {
			font-size: 18px;
		}

		nav ul:not(.side-nav) li .colorbar {
			position: absolute;
			left: 50%; top: 66px;

			width: 0; height: 3px;
			opacity: 0;

			background-color: #0DAFE0 ;

			transition: width 0.5s, left 0.5s, opacity 0.3s;
		}

			nav ul:not(.side-nav) li:hover .colorbar, nav ul:not(.side-nav) li.active .colorbar {
				width: 50%;
				left: 25%;
				opacity: 1;
			}

header {
	height: 600px;
	overflow: hidden;
	background: url('../img/cybersecurity.jpg') no-repeat;
	background-size: cover;
	background-position: top;
	background-position: bottom;
	position: relative;
}

	header #grey-mask {
		position: absolute;
		height: 100%; width: 100%;
		z-index: 1;
		top: 0;

		background-color: rgba(0, 0, 0, 0.5);
	}

	header .main-title {
		width: 100%;
		font-size: 600%;
		color: white;
		text-decoration: none;
		opacity: 1;
		z-index: 2;
		position: absolute;
		height: 100%;
		margin: 0 !important;
		transition: opacity 3s;
	}

	svg {
		position: absolute;
	}

	.main-title .typist-text {
		position: absolute;
		width: 100%;
		text-align: center;
		top: 50%;
		transform: translateY(-50%);
	}

	header .main-title.charged {
		opacity: 1;
	}

	

main {
	flex: 1 0 auto;
}

	main .premier-paragraphe {
		width: 50%;
	}

	main .twitter-timeline{
		position: absolute;
		float: right;
	}

footer {
	padding: 0 15%;
	margin-top: 0 !important;
}
footer :hover{
	color:#0DAFE0;

}
.animatedDraw path {
	fill: none;
	stroke: #FFF;
	stroke-width: 4;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 500;
	stroke-dashoffset: 500;

}

.animatedDraw path {
	animation: dash 520ms cubic-bezier(.63,.25,.25,.9) forwards;
}

@keyframes dash {
	to {
		stroke-dashoffset: 100;
	}
}

.animatedDraw {
	position: absolute;
	top: 50%; left: 53%;
}

svg {
	opacity: 0;
}

svg.animatedDraw {
	opacity: 1;
}

/* To modify the animation, change either @primaryClr or @ballSize for a different color and a different size. */
/* LESS Vars */
/*The Pacman*/
.pacman {
  position: relative;
}
.pacman > div:nth-child(1),
.pacman > div:nth-child(2) {
  width: 0;
  height: 0;
  border: 25px solid #0dafe0;
  border-right-color: transparent;
  border-radius: 50%;
  left: -40px;
  -webkit-animation: rotate_pacman_half_up .4s infinite;
          animation: rotate_pacman_half_up .4s infinite;
  position: relative;
}
.pacman > div:nth-child(2) {
  -webkit-animation-name: rotate_pacman_half_down;
          animation-name: rotate_pacman_half_down;
  margin-top: -50px;
}
.pacman > div:nth-child(3),
.pacman > div:nth-child(4),
.pacman > div:nth-child(5) {
  background-color: #ffffff;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 20px;
  left: 50px;
}
.pacman > div:nth-child(3) {
  -webkit-animation: pacman-balls 1s -0.66s infinite linear;
          animation: pacman-balls 1s -0.66s infinite linear;
}
.pacman > div:nth-child(4) {
  -webkit-animation: pacman-balls 1s -0.33s infinite linear;
          animation: pacman-balls 1s -0.33s infinite linear;
}
.pacman > div:nth-child(5) {
  -webkit-animation: pacman-balls 1s infinite linear;
          animation: pacman-balls 1s infinite linear;
}
/*Pacman Animation Keyframes*/
@-webkit-keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@keyframes rotate_pacman_half_up {
  0% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
  }
}
@-webkit-keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@keyframes rotate_pacman_half_down {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}
@-webkit-keyframes pacman-balls {
  75% {
    opacity: .7;
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}
@keyframes pacman-balls {
  75% {
    opacity: .7;
  }
  100% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
}

/* Contact */
.contactBackground{
	background-color: #303030;
}
.contactUs{
	margin-top: 100px;
	color:white;
}
/* Set a size for our map container, the Google Map will take up 100% of this container */
#map {
	width: 300px;
	height: 200px;
	margin-top: 20px;
	margin-left: 10px;
}
#contactLink{
	font-weight: bold;
	font-size: 25px;
	
}
#infos{
	font-size: 18px;
	font-weight: normal;
	margin-left: 10px;
	color:grey;

}
.formulaireContact{
	color:white;
	float: right;
	width: 600px;
	height: 500px;
	margin-top: 100px;
}
	.input-field {
		margin-top: 0px !important;
	}

   /* label focus color */
   .input-field input[type=text]:focus + label  {
     color: #0DAFE0 !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #0DAFE0 !important;
     box-shadow: 0 1px 0 0 #0DAFE0 !important;
   }

   /* label focus color */
   .input-field input[type=email]:focus + label  {
     color: #0DAFE0 !important;
   }
   /* label underline focus color */
   .input-field input[type=email]:focus {
     border-bottom: 1px solid #0DAFE0 !important;
     box-shadow: 0 1px 0 0 #0DAFE0 !important;
   }
   /* label focus color */
   .input-field textarea:focus + label  {
     color: #0DAFE0 !important;
   }
   /* label underline focus color */
   .input-field textarea:focus {
     border-bottom: 1px solid #0DAFE0 !important;
     box-shadow: 0 1px 0 0 #0DAFE0 !important;
   }

.buttonValider{
	background-color: #303030;
	color: #D1D1D1;
	border: 1px solid #D1D1D1;
	float:right;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}
.buttonValider:hover {
	background-color: #303030;
	color:  #0DAFE0;
	border: 1px solid  #0DAFE0;

}
.buttonValider:focus {
	background-color: #303030;
}


/* Enlever les logos google */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
	display:none;
}
.gmnoprint div {
	background:none !important;
}


a.contact{
	color: grey;
}

a.contact:hover{
	color: #0DAFE0;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
}

.members-photo img {
	border-radius: 50%;
	width: 50%;
	position: relative;
	margin-top: 10%; margin-bottom: 10%;
}

.row-grey, .row-white {
 	padding-top: 20px; padding-bottom: 20px;
}

.row-grey {
	background-color: #303030;
}

.row-grey p {
	color: white;
}

.row-grey img, .row-white img {
	border-radius: 50%;
}

.row-grey img:hover, .row-white img:hover {
	border: 3px solid #0DAFE0;
	transition-duration: 0.1s;
	box-shadow:0px 0px 20px #0DAFE0;
}

.tweet .material-icons:first-child {
	transform: rotateY(180deg);
}

.tweet {
	padding: 15px !important;
	text-align: justify;
}

.tweet a {
	color: white;
	transition: color 0.3s;
}

.tweet-row a:hover {
	color: #039be5;
}

.tweet span {
	color: grey;
}

.tweet-row h3 {
	color: white;
	margin-top: 0;
	padding-top: 10px; padding-left: 10px;
	font-size: 2rem;
}

.tweet-row {
	background-color: #303030;
	margin-bottom: 0;
}

.col-subject {
	text-align: center;
	transition: box-shadow 0.3s;
}

.col-subject a:hover {
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
}

.col-subject .material-icons {
	font-size: 3rem;
	color: #0DAFE0;
}

.col-subject a {
	display: block;
	margin: 0 10%;
	padding: 10px;
	height: 300px;
	color: black;
}

.col-subject p {
	font-size: 17px;
}

.text-justify {
	text-align: justify;
}

p.eco{

	font-size: 15px;
	margin:10px;
}

t1{
	font-size: 30px;
}

textarea {
	height: 110px !important;
	min-height: 110px !important;
}

.perso-text {
	color: #0DAFE0;
}

h2.perso-text {
	font-size: 30px !important;
}

small {
	font-size: 85% !important;
}

.infogp {
	margin-top: 10px;
	font-size: 20px;
}